body {
  padding: 0;
}

.thumbnail {
  position: relative;
  display: flex;
  width: 60%;
  padding: 0;
  padding-top: 36%;
  margin: auto;

  background: black;
}

@media only screen and (max-width: 600px) {
  .thumbnail {
    width: 100%;
    padding-top: 60%;
  }
}

.generator,
.title {
  text-align: center;
}

.philosophy,
.issue,
.medium {
  width: 40%;
  height: 50%;
  display: block;
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}
